/* ==========================================================================
   Variáveis - Colors
   ========================================================================== */

    //Main
    $primary: #fff;
    $second: #FE7213;
    $third: #2BBCD1;
    $fourth: #000;
    $sixth: #FFDEA9;

    //Menu
    $menu-link: #FFDEA9;

    //Background
    $background: #fff;

    //Fonts
    $font: #333;
    $font-secundaria: #444;
    $font-terceira: rgba(#323337, 0.77);
    $font-quarta: rgba(#323337, 0.62);

    //Borders
    $color-border-default: #efefef;

    //Titles
    $header: #1B1B1B;
    $subheader: #90a1b8;


/* ==========================================================================
   Variáveis - Formatação
   ========================================================================== */

    //Font
    $font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
    $font-family-title: 'Noto-Bold';
    $font-tamanho-padrao: 16px;
    $opacity-btn-hover: .85;
    $font-input: 15px;
    $line-height-title: 32px;
    $line-height: 30px;

    //Nav
    $font-nav-menu: 15px;

    //Social
    $font-social: 19px;
